* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(9 9 11);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(82 82 91);
	border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(63 63 70);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.elementLoading {
	animation: spin 1s linear infinite;
	border-radius: 9999px;
	height: 4rem;
	width: 4rem;
	border-top: 2px solid #f6e05e;
	border-bottom: 2px solid #f6e05e;
}
.containerLoading {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 11rem);
	background-color: rgb(9 9 11);
}
